div.modal-layer {
    display:flex; /*nanti setelah di-click akan jadi flex*/
    align-items:center;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow: auto;
}

.popup-dialog {
    display: block; /*nanti setelah di-click akan jadi block*/
    background-color: #f2f2f2;
    padding:20px;
    border-radius:6px;
    min-width:300px;
    /* max-width: 500px; */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

fa-icon {
    color: red;
}