<main class="px-4">
    <div class="min-h-96 flex">
        <div class="flex flex-1 flex-col justify-center items-center">
            <h1 class="text-3xl font-extrabold text-[#FF6B6B]">
                WELCOME
            </h1>
            <p class="text-lg text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim rem excepturi iusto! Officiis dolore unde, quam sunt nemo harum ipsam dolor nulla nobis.</p>
            <button [routerLink]="['auth/login']" class="mt-4 p-2 px-4 hover:bg-[#F4D738] bg-[#FDFD96] border-2 border-black rounded-full shadow-[3px_4px_0_2px_rgba(0,0,0,1)]">Get Started</button>
        </div>
        <div class="flex flex-1 flex-col justify-center items-center">
            <div class="w-64 h-w-64 bg-[#FF6B6B] rounded-full flex justify-center items-center">
                <img src="assets/img/illustration1.png" alt="illustration1" class="w-64">
            </div>
        </div>
    </div>
    
    <app-top-buy></app-top-buy>
    <app-news-product></app-news-product>
</main>
