<div class="neo-box min-h-80 flex justify-between gap-4 p-4">
    <div class="flex gap-4">
        <div class="neo-box min-w-56 p-4 flex justify-center items-center">
            <img [src]="imgSrc" [alt]="catalog.name" class="h-48">
        </div>
        <div class="">
            <h4 class="text-xl">{{catalog.name}}</h4>
            <p>{{catalog.categoryName}}</p>
            <p>{{catalog.price| currency: 'Rp ': 'symbol': '1.2-2'}}</p>
            <p>{{catalog.description}}</p>
        </div>
    </div>
    <div class="neo-box min-w-56 p-4 flex flex-col gap-4">
        <div class="flex justify-between items-center">
            <div class="border-2 border-black rounded-lg flex gap-2 justify-between items-center min-w-24">
                <button (click)="onSubQuantity()" [disabled]="quantity === 1" class="p-2 hover:bg-slate-300 rounded-lg disabled:cursor-not-allowed">-</button>
                <span>{{quantity}}</span>
                <button (click)="onAddQuantity()" [disabled]="quantity === catalog.stock" class="p-2 hover:bg-slate-300 rounded-lg disabled:cursor-not-allowed">+</button>
            </div>
            <div>
                Stok : <span>{{catalog.stock}}</span>
            </div>
        </div>
        <div class="flex justify-between">
            <span>Subtotal</span>
            <span>{{catalog.price * quantity | currency: 'Rp ': 'symbol': '1.2-2'}}</span>
        </div>
        <div class="flex flex-col gap-4">
            <button class="bg-[#FDFD96] border-2 border-black rounded-full shadow-[3px_4px_0_2px_rgba(0,0,0,1)] hover:bg-[#F4D738] active:shadow-[0_0_0_0] active:transition px-8 w-full">Buy</button>
            <button (click)="onAddToCart()" class="bg-[#FDFD96] border-2 border-black rounded-full shadow-[3px_4px_0_2px_rgba(0,0,0,1)] hover:bg-[#F4D738] active:shadow-[0_0_0_0] active:transition px-8 w-full">+ Keranjang</button>
        </div>
    </div>
</div>

